@mixin wrap
    width: 95%
    max-width: 1300px
    margin: 0 auto

.sectionWrapper
    @include wrap
    display: flex
    justify-content: flex-start
    flex-wrap: wrap

.flexEnter
    width: 100%